.accordion {
  clear: both;
  /deep/ .card {
    border: none;
    /deep/ .card-header {
      padding: 0;
      border-top: 1px solid #fff;
      /deep/ > a {
        padding: 0;
        text-decoration: none;
        /deep/ a {
          padding: 0.75rem 1.25rem;
          display: block;
          text-decoration: none;
          /deep/ i.active {
            display: none;
          }
        }
      }
    }
    /deep/ .card-header.active {
      /deep/ > a > a > i.inactive {
        display: none;
      }
      /deep/ > a > a > i.active {
        display: inline;
      }
    }
    /deep/ .card-block {
      padding: 0 1rem;
      font-size: .9rem;
    }
  }
}