<div class="sidebar sidebar-250 navbar-default">
    <ngb-accordion [closeOthers]="true" (panelChange)="beforeChange($event)" class="accordion">
        <ngb-panel id="1" class="card-header">
            <template ngbPanelTitle>
                <a [routerLink]="['/dashboard']">
                    <i class="fa fa-bar-chart fa-20px"></i>
                    Dashboard
                </a>
            </template>
        </ngb-panel>
        <ngb-panel id="2" class="card-header">
            <template ngbPanelTitle>
                <a>
                    <i class="fa fa-plus pull-right inactive"></i>
                    <i class="fa fa-minus pull-right active"></i>
                    <i class="fa fa-mortar-board fa-20px"></i>
                    Courses
                </a>
            </template>
            <template ngbPanelContent>
                <ul class="nav nav-pills nav-stacked">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/networks']">List</a>
                    </li>
                </ul>
            </template>
        </ngb-panel>
        <ngb-panel id="3" class="card-header">
            <template ngbPanelTitle>
                <a>
                    <i class="fa fa-plus pull-right inactive"></i>
                    <i class="fa fa-minus pull-right active"></i>
                    <i class="fa fa-users fa-20px"></i>
                    Users
                </a>
            </template>
            <template ngbPanelContent>
                <ul class="nav nav-pills nav-stacked">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/users']">List</a>
                    </li>
                </ul>
            </template>
        </ngb-panel>
        <ngb-panel id="4" class="card-header">
            <template ngbPanelTitle>
                <a>
                    <i class="fa fa-plus pull-right inactive"></i>
                    <i class="fa fa-minus pull-right active"></i>
                    <i class="fa fa-comments fa-20px"></i>
                    Conversations
                </a>
            </template>
            <template ngbPanelContent>
                <ul class="nav nav-pills nav-stacked">
                    <li class="nav-item">
                        <a class="nav-link" [routerLink]="['/conversations']">List</a>
                    </li>
                </ul>
            </template>
        </ngb-panel>
        <ngb-panel id="5" class="card-header">
            <template ngbPanelTitle>
                <a>
                    <i class="fa fa-sign-out fa-20px"></i>
                    Logout
                </a>
            </template>
        </ngb-panel>
    </ngb-accordion>
</div>