<div *ngIf="!show">
    <div class="row">
        <div class="col-md-3">
            <div class="pull-right chip">
                <select-comp [label]="cat.label" [options]="cat.options" [sclass]="'text-md-right'"></select-comp>
            </div>
        </div>
        <div class="col-md-3">
            <div class="pull-left chip">
                <select-comp [label]="atr.label" [options]="atr.options"></select-comp>
            </div>
        </div>


        <div class="col-md-6 pull-right">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Find a course">
                <span class="input-group-btn">
                <button class="btn btn-primary" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
            </div>
        </div>
    </div>
    <br/>
    <cards [networks]="networks"></cards>
</div>
<div *ngIf="show">
    <div class="row">
        <div class="jumbotron text-md-center" style="margin-top: -15px;">
            <h1 class="display-3">{{title}}</h1>
            <p class="lead"></p>
            <hr class="my-2">

            <p class="lead">
                <a class="btn btn-primary btn-lg" [routerLink]="['/register']" role="button">Enroll Now</a>
            </p>
        </div>
    </div>
    <p>
        http://learn.cofounderslab.com/p/building-a-rockstar-team
    </p>


</div>
