.bg-purple {
  background-color: $purple-300;
}
.bg-indigo {
  background-color: $indigo-300;
}
.bg-green {
  background-color: $green-300;
}
.bg-orange {
  background-color: $orange-300;
}
.bg-red {
  background-color: $red-300;
}


.bg-green-400 {
  background-color: $green-400;
}

.bg-whitesmoke {
  background-color: $white-smoke;
}

.bg-white-dark-smoke {
  background-color: $white-dark-smoke;
}
.bg-white{
  background-color: $white;
}
.bg-white-snow {
  background-color: $white-snow;
}