$white:               #FFF !default;
$white-smoke:         #F5F5F5 !default;
$white-snow:          #FAFAFA !default;
$white-dark-smoke:    #D7D7D7 !default;


$purple-300:          rgb(186, 104, 200) !default;
$indigo-300:          rgb(121, 134, 203) !default;
$green-300:           rgb(129, 199, 132) !default;
$green-400:           rgb(102, 187, 106) !default;
$orange-300:          rgb(255, 183, 77) !default;
$red-300:             rgb(229, 115, 115) !default;



