.media {
  .media-body {
    .page-heading {
      padding: 20px;

      .media-left {
        display: table-cell;
        i {
          height: 50px;
          width: 60px;
        }
      }
      .media-body {
        display: table-cell;
      }
    }
  }
  .media-right {
    .card {
      width: 270px;
      .card-block {
        i {
          width: 30px;
        }
      }
    }
  }
}