<div class="sidebar sidebar-250 navbar-default">
    <ngb-accordion [closeOthers]="true" (panelChange)="beforeChange($event)" class="accordion">
        <ngb-panel id="1" class="card-header">
            <template ngbPanelTitle>
                <a [routerLink]="['/o/analysis']">
                    <i class="fa fa-bar-chart fa-20px"></i>
                    Analysis
                </a>
            </template>
        </ngb-panel>
        <ngb-panel id="2" class="card-header">
            <template ngbPanelTitle>
                <a [routerLink]="['/o/networks']">
                    <i class="fa fa-share-alt fa-20px"></i>
                    Networks
                </a>
            </template>
        </ngb-panel>
        <ngb-panel id="3" class="card-header">
            <template ngbPanelTitle>
                <a [routerLink]="['/o/users']">
                    <i class="fa fa-users fa-20px"></i>
                    Users
                </a>
            </template>
        </ngb-panel>
        <ngb-panel id="4" class="card-header">
            <template ngbPanelTitle>
                <a [routerLink]="['/o/support']">
                    <i class="fa fa-commenting fa-20px"></i>
                    Support
                </a>
            </template>
        </ngb-panel>
        <ngb-panel id="5" class="card-header">
            <template ngbPanelTitle>
                <a [routerLink]="['/m']">
                    <i class="fa fa-sign-out fa-20px"></i>
                    Logout
                </a>
            </template>
        </ngb-panel>
    </ngb-accordion>
</div>