<div class="navbar navbar-default navbar-fixed-top no-radius">
    <div class="brand-corner">
        <a [routerLink]="['/o']">
            Owner
        </a>
    </div>
    <div class="main">
        <div class="row">
            <div class="col-md-6" id="search-component">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Go!</button>
                    </span>
                </div>
            </div>
            <div class="col-md-6">
                <ul class="nav nav-pills pull-right">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fa fa-bell-o"></i>
                            1
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" (click)="inProfile = !inProfile" href="javascript:void(0)">
                            Jesus Rocha
                        </a>
                        <div class="dropdown-menu" [ngbCollapse]="!inProfile" style="right: 0; left: inherit;">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#">Separated link</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>