<nav class="navbar navbar-light navbar-fixed-top no-radius bg-white" style="font-size: 1.1em; line-height: 43px;">
    <button class="navbar-toggler hidden-lg-up" type="button" aria-controls="navbar-header" aria-label="Toggle navigation"
            (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
    </button>
    <div class="collapse bg-white navbar-toggleable-md" id="navbar-header" [ngbCollapse]="isCollapsed">
        <a class="navbar-brand" [routerLink]="['/']">LMS</a>
        <ul class="nav navbar-nav float-xs-right">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/m/courses']" (click)="anyClick()">
                    Courses
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']" (click)="anyClick()">
                    Login
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/register']" (click)="anyClick()">
                    Sign Up
                </a>
            </li>
        </ul>

    </div>
</nav>