<nav class="navbar navbar-light no-radius bg-white" style="font-size: 1.1em; line-height: 43px;">
    <button class="navbar-toggler hidden-lg-up" type="button" aria-controls="navbar-header" aria-label="Toggle navigation"
            (click)="isCollapsed = !isCollapsed" [attr.aria-expanded]="!isCollapsed">
    </button>
    <div class="collapse bg-white navbar-toggleable-md" id="navbar-header" [ngbCollapse]="isCollapsed">

        <h1 style="margin: 0">
            <a class="navbar-brand" [routerLink]="['/']">
                Mahr.io/a -
                <small>sistema para el manejo del aprendimiento</small>
            </a>
        </h1>
        <ul class="nav navbar-nav float-xs-right">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/m/courses']" (click)="anyClick()">
                    Cursos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/login']" (click)="anyClick()">
                    Iniciar Sesión
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/register']" (click)="anyClick()">
                    Inscribete
                </a>
            </li>
        </ul>

    </div>
</nav>