<nav class=" bg-whitesmoke navbar navbar-light navbar-fixed-top no-radius" style="border-bottom: 1px solid #e3e3e3;">
    <button class="navbar-toggler hidden-lg-up pull-left" type="button" aria-controls="navbar-header" aria-label="Toggle navigation"
            (click)="togglemenu.emit();">
    </button>
    <a class="navbar-brand hidden-md-up" [routerLink]="['/s']" style="line-height: 40px;padding: 0 0 0 10px;font-size: 23px;">
        {{menu.brand}}
    </a>
    <button class=" hidden-lg-up pull-right" type="button" aria-controls="navbar-header" aria-label="Toggle navigation"
            (click)="togglesearch.emit(toggleflag)" [attr.aria-expanded]="!isCollapsed">
        <i class="fa fa-search fa-2x"></i>
    </button>
    <div class="hidden-md-down" id="navbar-header-1">
        <div class="brand-corner">
            <a class="navbar-brand" [routerLink]="['/s']">
                {{menu.brand}}
            </a>
        </div>
        <div class="main">
            <div class="row">
                <div class="col-md-6" id="search-component-1">
                    <template #rt let-r="result" let-t="term">
                        <img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/' + r.flag" width="16">
                        <span [innerHTML]="r.name"></span>
                    </template>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search for..." [(ngModel)]="model" [ngbTypeahead]="search" [resultTemplate]="rt" [inputFormatter]="formatter" >
                        <span class="input-group-btn">
                        <button class="btn btn-primary" type="button">Go!</button>
                    </span>
                    </div>
                </div>
                <div class="col-md-6">
                    <ul class="nav nav-pills pull-right">
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                <i class="fa fa-bell-o"></i>
                                1
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link dropdown-toggle" (click)="inProfile = !inProfile" href="javascript:void(0)">
                                Jesus Rocha
                            </a>
                            <div class="dropdown-menu" [ngbCollapse]="!inProfile" style="right: 0; left: inherit;">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Separated link</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="collapse bg-white hidden-lg-up" id="navbar-header-2" [ngbCollapse]="!toggleflag">
    <div class="main">
        <div class="row">
            <div class="col-md-12" id="search-component-2">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                            <button class="btn btn-primary" type="button">Go!</button>
                        </span>
                </div>
            </div>
        </div>
    </div>
</div>