<div class="card-columns">
    <div *ngFor="let network of networks" class="card" [routerLink]="['/m/courses/'+network.title]">
        <div class="text-xs-center" *ngIf="network.img"
             [ngClass]="network.img.thumbClasses">
            <img src="{{network.img.thumb}}" class="img-fluid">
        </div>
        <div class="card-header">
            <h4 class="card-title">
                {{network.title}}
            </h4>
            <div style="position: absolute; margin-top: -15px;width: 100%; padding-right: 40px;">
                <div class="pull-right">
                    {{network.length}}
                </div>
                <ngbd-star-rating [rating]="network.rating"></ngbd-star-rating>
            </div>
        </div>
        <div class="card-block">
            <p>
                {{network.lead}}
            </p>
        </div>
        <div class="card-footer">
            <div class="pull-right" style="line-height: 32px; color: #2c343b">
                <b>{{network.cost}}</b>
            </div>
            <div *ngIf="!network.instructor.img.thumb" class="pull-left">
                <i class="fa fa-2x fa-user"></i>
            </div>
            <span>
                {{network.instructor.name}}
            </span>
        </div>
    </div>
</div>
<div class="media hidden-lg-up hidden-xs-down" *ngFor="let network of networks" [routerLink]="['/m/courses/'+network.title]">
    <div class="media-left">
        <img src="{{network.img.thumb}}" class="img-fluid">
    </div>
    <div class="media-body">
        <div class="card-block">
            <h4 class="card-title">{{network.title}}</h4>
             <h6>Instructor: {{network.instructor.name}}</h6>
        </div>
    </div>
    <div class="media-right">
        <ngbd-star-rating [rating]="network.rating"></ngbd-star-rating>
    </div>
</div>