<div class="card-deck-wrapper" *ngFor="let deck of networks">
    <div class="card-deck">
        <template ngFor let-item="$implicit" [ngForOf]="deck" let-i="index">
            <div class="card">
                <div class="cover overlay cover-image-full hover" style="height: 150px;">
                    <span class="img icon-block height-150 bg-white-snow"></span>

                    <a [routerLink]="[item.title]" class="padding-none overlay overlay-full icon-block bg-lightred" style="height: 150px;">
                        <span class="v-center">
                            <i class="fa fa-image"></i>
                        </span>
                    </a>
                </div>
                <div class="card-header">
                    <h4 class="card-title">{{item.title}}</h4>
                    <ngbd-star-rating></ngbd-star-rating>

                </div>
                <div class="card-block">
                    <p class="card-text">{{item.description}}</p>
                </div>
                <div class="card-instructor card-footer">
                    <div style="width: 50px;" class="text-sm-center">
                        <i class="fa fa-user fa-3x"></i>
                    </div>
                    <div class="main">
                        <h6>{{item.instructor}}</h6>
                        Instructor
                    </div>
                </div>
            </div>
        </template>
    </div>
</div>