.card {
  border: 2px solid #e3e3e3;
  cursor: pointer;
  &:hover {
    border: 2px solid #333;
  }
  .padding-50-100 {
    padding: 50px 100px;
  }
  span {
    line-height: 32px;
    margin-left: 10px;
  }
  .card-instructor {
    padding: 20px;
    position: absolute;
    bottom: 0;
    div {
      display: table-cell;
      vertical-align: middle;
      &.main {
        width: 10000px;
      }
    }
  }
}
.media {
  margin: 10px 0;
  border-top: 1px solid #e3e3e3;
  padding-top: 10px;
  cursor: pointer;
}

@media (min-width: 576px) {
  .card-deck-wrapper {
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 576px) and (max-width: 991px) {
  .card-columns {
    display: none;
  }
}
.media.hidden-lg-up {
  .media-left {
    min-width: 100px;
    vertical-align: middle;
    text-align: center;
    padding: 0;
    img {
      margin: 0 auto;
      width: 100%;
    }
  }
  .media-right {
    min-width: 120px;
    vertical-align: middle;
    padding: 0;
    text-align: center;
  }
}
@media (max-width: 991px) {
  .container {
    width: auto;
  }
}