<div class="row">
    <div class="col-md-3">
        <div class="pull-right chip">
            <select-comp [label]="l.cat.label" [options]="l.cat.options" [sclass]="'text-md-right'"></select-comp>
        </div>
    </div>
    <div class="col-md-3">
        <div class="pull-left chip">
            <select-comp [label]="l.atr.label" [options]="l.atr.options"></select-comp>
        </div>
    </div>


    <div class="col-md-6 pull-right">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Find a course">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="button">
                    <i class="fa fa-search"></i>
                </button>
            </span>
        </div>
    </div>
</div>