<div class="pull-right hidden-sm-down">
    <div class="btn-group btn-group-lg" role="group">
        <button class="btn btn-secondary" (click)="card = false;">
            <i class="fa fa-list"></i>
        </button>
        <button class="btn btn-secondary" (click)="card = true;">
            <i class="fa fa-th-large"></i>
        </button>
    </div>
</div>

<h1>
    {{ message }}
</h1>
<br/>

<div class="text-xs-center" *ngIf="!networks.length">
    <i class="fa fa-spinner fa-spin fa-3x" aria-hidden="true"></i>
</div>

<cards class="hidden-sm-up" [networks]="networks" *ngIf="!show && networks.length"></cards>
<div *ngIf="networks.length" style="overflow: hidden" class="{true: 'hidden-sm-down'}[!show]">
    <cards [networks]="networks" *ngIf="!show && card && networks.length"></cards>
    <list [networks]="networks" *ngIf="!show && !card && networks.length"></list>

    <show [network]="network" *ngIf="show"></show>

    <div class="text-md-right">
        <ngb-pagination [collectionSize]="50" [(page)]="currentPage" (pageChange)="pageChange()"></ngb-pagination>
    </div>

</div>

