#search-component {
  /deep/ .dropdown-menu {
    width: 100%;
    /deep/ button img {
      width: 64px;
      margin-right: 15px;
    }
  }
}
.dropdown-menu {
  width: 100%;
}
ngb-typeahead-window {
  width: 100%;
}